<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="GH_TOKEN" value="YOUR_GITHUB_TOKEN_HERE" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Production-->
    <add key="Name" value="Connection Name" />
    <add key="AppServerHost" value="192.168.144.170" />
    <add key="Client" value="600" />
    <add key="User" value="POWERBI" />
    <add key="Password" value="India@123456" />
    <add key="SystemNumber" value="02" />
    <add key="Language" value="EN" />
    <!--Load balancing-->
    <!--<add key="Name" value="Connection Name"/>
	  <add key="AppServerHost" value="192.168.144.185"/>
	  <add key="Client" value="600"/>
	  <add key="User" value="POWERBI"/>
	  <add key="Password" value="India@123456"/>
	  <add key="SystemNumber" value="00"/>
	  <add key="Language" value="EN"/>-->
    <!--UAT-->
    <!--<add key="Name" value="Connection Name"/>
		<add key="AppServerHost" value="192.168.144.174"/>
		<add key="Client" value="210"/>
		<add key="User" value="POWERBI"/>
		<add key="Password" value="India@123456"/>
		<add key="SystemNumber" value="00"/>
		<add key="Language" value="EN"/>-->
