<?xml version="1.0" encoding="utf-8"?>
<!--
  MSDeploy Publish Profile - V2DC-ADDVERB (.36)
  Site   : VendrSrmAndroidApi
  URL    : http://192.168.151.36:9005/
  Deploy : https://V2DC-ADDVERB:8172/msdeploy.axd
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <MSDeployServiceURL>https://V2DC-ADDVERB:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>VendrSrmAndroidApi</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployAppOffline>True</EnableMSDeployAppOffline>
    <UserName>V2DC-ADDVERB\Administrator</UserName>
    <_SavePWD>False</_SavePWD>
    <SiteUrlToLaunchAfterPublish>http://192.168.151.36:9005/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>{5E07AD66-8559-435B-B15C-781A23275E7A}</ProjectGuid>
    <publishUrl>https://V2DC-ADDVERB:8172/msdeploy.axd</publishUrl>
    <destinationAppUrl>http://192.168.151.36:9005/</destinationAppUrl>
    <profileName>Release-36</profileName>
  </PropertyGroup>
</Project>
